{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- member/boundaries.html -->

<div id='editPanel'>


  <h2 style='margin-top: 2em;'>edit panel</h2>

  {% if notifications %}<ol>
    {% for note in notifications %}<li>{{ note }}</li>{% endfor %}
  </ol>{% endif %}

  {{ editForm.as_p }}

  <p><b>filepath</b> {{ boundary.filepath }}</p>

<input type='submit' name='command' value='save' />

  
</div>

<div class='block-page-edit'>

  
<h1>{{ h1 }}</h1>

{% if notFound %}
<p>There is no record for a boundary with this identifier.</p>
{% elif notAuthorised %}
<p>This boundary record does not belong to you.</p>
{% endif %}

{% if boundary %}

{% if boundary.description %}{{ boundary.display_description|safe }}
{% endif %}

<table width='100%'>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <td width='50%'>
      
<h2>Boundary metadta</h2>
      
<table>
  <tr>
    <th>name</th>
    <td>{{ boundary.name }}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <th>client</th>
    <td>{{ boundary.client }}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <th>this report output</th>
    <td>{% now "Y-m-d H:i:s" %}</td>
  </tr>
</table>

    </td>
    <td>

<h2>Archaeological site summary</h2>     

<table>
  <tr>
    <th>No. sites within this boundary</th>
    <td>{{ boundary.sites_within.count|intcomma }}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <th>No. sites adjacent <br />to 500 m</th>
    <td>{{ boundary.sites_adjacent.count|intcomma }}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <th>Closest site</th>
    <td><a href='{{ boundary.closest_site.url}}'>
        {{ boundary.closest_site.title }}</a> ({{ boundary.closest_site.distance|floatformat:0|intcomma }}&nbsp;m)</td>
  </tr>
  <tr>
    <th></th>
    <td></td>
  </tr>
</table>



    </td>
  </tr>
</table>


<div class='map-50k'>

  <img src='{% static boundary.static_url %}/map_topo50.png'
       alt='Boundary map with Topo50 background'
       style='width:100%;'
  />

</div>

<div style='page-break-inside: avoid;'>
<h2 style='page-break-after:avoid'>Ten closest archaeological sites to this boundary</h2>


<table class='sortable' style='font-size: 80%;'>
    <tr>
        <th>site</th>
        <th>title</th>
        <th>type</th>
        <th style='text-align:right; width:15em;'>nztm coords</th>
        <th style='text-align:right;'>distance (m)</th>
    </tr>
    {% for site in boundary.closest_sites %}
    <tr>
        <td><a href='{{ site.url }}'>{{ site.nzaa_id }}</a></td>
        <td>{{ site.title }}</td>
        <td>{{ site.lgcy_type }}</td>
        <td style='text-align:right'>{{ site.nztm_coords }}</td>
        <td style='text-align:right'>{{ site.distance|floatformat:0|intcomma }}</td>
    </tr>{% endfor %}
</table>
</div>

{% if boundary.sites_within.count > 0 %}
<h2>Archaeological site records within this boundary
({{ boundary.sites_within.count|intcomma }})</h2>

<table class='sortable' style='font-size: 80%;'>
    <tr>
        <th>site</th>
        <th>title</th>
        <th>type</th>
        <th>nztm coords</th>
    </tr>
    {% for site in boundary.sites_within %}
    <tr>
        <td><a href='{{ site.url }}'>{{ site.nzaa_id }}</a></td>
        <td>{{ site.title }}</td>
        <td>{{ site.lgcy_type }}</td>
        <td>{{ site.nztm_coords }}</td>
    </tr>{% endfor %}
</table>
{% else %}
<p>No archaeological sites recorded within this boundary.</p>
{% endif %}









{% if boundary.sites_adjacent.count %}
<h2>Archaeological site records within 500 m of this boundary
({{ boundary.sites_adjacent.count|intcomma }})</h2>

<table class='sortable' style='font-size: 80%;'>
    <tr>
        <th>site</th>
        <th>title</th>
        <th>type</th>
        <th>nztm coords</th>
        <th style='text-align:right;'>distance m</th>
    </tr>
    {% for site in boundary.sites_adjacent %}
    <tr>
        <td><A href='{{ site.url }}'>{{ site.nzaa_id }}</a></td>
        <td>{{ site.title }}</td>
        <td>{{ site.lgcy_type }}</td>
        <td>{{ site.nztm_coords }}</td>
        <td style='text-align:right;'>{{ site.distance|floatformat:0|intcomma }}</td>
    </tr>{% endfor %}
</table>
{% else %}
<p>No archaeological sites recorded within 500 m of this boundary.</p>
{% endif %}














{% if cadastral_report %}
<hr />
<h2>Cadastral parcels intersecting with this boundary
  ({{ boundary.parcels_intersecting.count|intcomma }})</h2>

<table class='sortable' style='font-size: 80%;'>
    <tr>
        <th>appellation</th>
        <th>parcel intent</th>
        <th>survey area (m<sup><small>2</small></sup>)</th>
        <th>sites</th>
    </tr>
    {% for parcel in boundary.parcels_intersecting %}<tr>
        <td><a href='{{ parcel.url }}'>{{ parcel.appellation }}</a></td>
        <td>{{ parcel.parcel_intent }}</td>
        <td style='text-align: right;'>{{ parcel.survey_area|floatformat:0|intcomma }}</td>
        <td style='text-align: right;'>{{ parcel.sites_intersecting.count }}</td>
    </tr>{% endfor%}  
</table>
{% endif %}

{% if boundary.notes %}
<h2>Notes</h2>

{{ boundary.display_notes|safe }}

{% endif %}

{% endif %}

<!-- end member/boundaries.html -->
{% endblock %}



