{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- member/boundaries.html -->

{% if editable %}
<div id='editPanel'>
  
  <h2 style='margin-top: 2em;'>edit panel</h2>

  {% if notifications %}<ol>
    {% for note in notifications %}<li>{{ note }}</li>{% endfor %}
  </ol>{% endif %}

  {{ editForm.as_p }}
  
<input type='submit' name='command' value='save' />

<p><b>Client</b> {{ boundary.client }}<br />
  <b>Filename</b> {{ boundary.fname }}<br />
</p>

</div><!-- close the editPanel -->
{% endif %}

<div class='block-page-edit'>

  
<h1>{{ h1 }}</h1>

{% if notFound %}
<p>There is no record for a boundary with this identifier.</p>
{% elif notAuthorised %}
<p>This boundary record does not belong to you.</p>
{% endif %}

{% if boundary %}

{% if boundary.description %}{{ boundary.display_description|safe }}
{% endif %}

<table width='100%'>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <td width='50%'>
      
<h2>Boundary metadata</h2>
      
<table style='font-size: 80%;'>
  <tr>
    <td colspan='2'><b>maps</b><br />
    {% for map in boundary.topomaps %}
    <a href='{{ map.url }}'>{{ map.display_name }}</a><br />
    {% endfor %}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <th>No. parcels<br />intersecting</th>
    <td>{{ boundary.parcels_intersecting.count|intcomma }}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <th>output on</th>
    <td>{% now "Y-m-d H:i:s" %}</td>
  </tr>
</table>

    </td>
    <td>

<h2>Archaeological site summary</h2>     

<table style='font-size: 80%;'>
  <tr>
    <th>No. sites within this boundary</th>
    <td>{{ boundary.sites_within.count|intcomma }}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <th>No. sites adjacent <br />to 500 m</th>
    <td>{{ boundary.sites_adjacent.count|intcomma }}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <th>No. sites identified</th>
    <td>{{ boundary.sites_identified.count|intcomma }}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top:black 1px solid;'></td>
  </tr>
  <tr>
    <th>Closest site not within</th>
    <td><a href='{{ boundary.closest_site.url}}'>
        {{ boundary.closest_site.title }}</a> ({{ boundary.closest_site.distance|floatformat:0|intcomma }}&nbsp;m)</td>
  </tr>
  <tr>
    <th></th>
    <td></td>
  </tr>
</table>



    </td>
  </tr>
</table>


<div class='map-50k'>

  <img src='{% static boundary.static_url %}/map_topo50.png'
       alt='Boundary map with Topo50 background'
       style='width:100%;'
  />

</div>

<div style='page-break-inside: avoid;'>
<h2 style='page-break-after:avoid'>Ten closest archaeological sites to this boundary</h2>


<table class='sortable' style='font-size: 80%;'>
    <tr>
        <th>site</th>
        <th>title</th>
        <th>type</th>
        <th style='text-align:right; width:15em;'>nztm coords</th>
        <th style='text-align:right;'>distance (m)</th>
    </tr>
    {% for site in boundary.sites_closest %}
    <tr>
        <td><a href='{{ site.url }}'>{{ site.nzaa_id }}</a></td>
        <td>{{ site.title }}</td>
        <td>{{ site.lgcy_type }}</td>
        <td style='text-align:right'>{{ site.nztm_coords }}</td>
        <td style='text-align:right'>{{ site.distance|floatformat:0|intcomma }}</td>
    </tr>{% endfor %}
</table>
</div>

{% if boundary.sites_within.count > 0 %}
<div style='page-break-inside: avoid;'>
  <h2 style='page-break-after: avoid;'>
    Archaeological site records within this boundary
({{ boundary.sites_within.count|intcomma }})</h2>

<table class='sortable' style='font-size: 80%;'>
    <tr>
        <th>site</th>
        <th>title</th>
        <th>type</th>
        <th>nztm coords</th>
    </tr>
    {% for site in boundary.sites_within %}
    <tr>
        <td><a href='{{ site.url }}'>{{ site.nzaa_id }}</a></td>
        <td>{{ site.title }}</td>
        <td>{{ site.lgcy_type }}</td>
        <td>{{ site.nztm_coords }}</td>
    </tr>{% endfor %}
</table>
</div>
{% else %}
<p>No archaeological sites recorded within this boundary.</p>
{% endif %}









{% if boundary.sites_adjacent.count %}
<div style='page-break-inside: avoid;'>
  <h2 style='page-break-after: avoid;'>
    Archaeological site records within 500 m of this boundary
({{ boundary.sites_adjacent.count|intcomma }})</h2>

<table class='sortable' style='font-size: 80%;'>
    <tr>
        <th>site</th>
        <th>title</th>
        <th>type</th>
        <th>nztm coords</th>
        <th style='text-align:right;'>distance m</th>
    </tr>
    {% for site in boundary.sites_adjacent %}
    <tr>
        <td><A href='{{ site.url }}'>{{ site.nzaa_id }}</a></td>
        <td>{{ site.title }}</td>
        <td>{{ site.lgcy_type }}</td>
        <td>{{ site.nztm_coords }}</td>
        <td style='text-align:right;'>{{ site.distance|floatformat:0|intcomma }}</td>
    </tr>{% endfor %}
</table>
</div>
{% else %}
<p>No archaeological sites recorded within 500 m of this boundary.</p>
{% endif %}

{% if cadastral_report %}
<div style='page-break-inside: avoid;'>
  <h2 style='page-break-after: avoid;'>
    Cadastral parcels intersecting with this boundary
  ({{ boundary.parcels_intersecting.count|intcomma }})</h2>

<table class='sortable' style='font-size: 80%;'>
    <tr>
        <th>appellation</th>
        <th>parcel intent</th>
        <th>survey area (m<sup><small>2</small></sup>)</th>
        <th>sites</th>
    </tr>
    {% for parcel in boundary.parcels_intersecting %}<tr>
        <td><a href='{{ parcel.url }}'>{{ parcel.appellation }}</a></td>
        <td>{{ parcel.parcel_intent }}</td>
        <td style='text-align: right;'>{{ parcel.survey_area|floatformat:0|intcomma }}</td>
        <td style='text-align: right;'>{{ parcel.sites_intersecting.count }}</td>
    </tr>{% endfor%}  
</table>
</div>
{% endif %}

{% if boundary.notes %}
<div style='page-break-inside: avoid;'>
<h2 style='page-break-after: avoid;'>Notes</h2>

{{ boundary.display_notes|safe }}

{% endif %}

<div style='font-size: 80%;'>

<h2 style='border-top: black solid 1px; padding-top: 1em;'>Rights</h2>

<p>Compiled by archaeography.nz from data contained in the New Zealand
Archaeological Association's Site Recording Scheme.</p>

</div>

<div class='noprint'>
<h2>Here's the non-printing stuff</h2>

<p>These fields don't appear in the printed copy. They are here to
provide easy selections for site lists etc.</p>
</div>

<h3>All the site identifiers</h2>

<textarea width='80' height='2'>somethinggoes here</textarea>

</div>

{% endif %}

<!-- end member/boundaries.html -->
{% endblock %}



