{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- member/boundaries.html -->
<div class='block-page'>
<h1>{{ h1 }}</h1>

  {% if geom_files %}
  <h3>In filespace</h3>

  <ol>
  {% for fname in geom_files %}
     <li>{{ fname }}</li>{% endfor %}
  </ol>{% endif %}

  {% if records %}
  <h3>In database</h3>

  <table class='sortable'>
    <tr>
      <th>name</th>
      <th>client</th>
      <th>filename</th>
      <th>description</th>
      <th>sites</th>
    </tr>
    {% for record in records %}<tr>
      <td><a href='{{ record.url }}'>{{ record.name }}</a></td>
      <td>{{ record.client }}</td>
      <td>{{ record.fname }}</td>
      <td>{{ record.description }}</td>
      <td>{{ record.sites.count }}</td>
    </tr>{% endfor %}

  </table>{% endif %}

  
  <p><a href='/member/upload/boundary'>Upload a new boundary file</a></p>
</div>
<!-- end member/boundaries.html -->
{% endblock %}



