{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- home/user.html -->
<div class='block-page'>
<h1>{{ h1 }}</h1>


  {% if notifications %}<h3>Notifications</h3>
  <ul>
    {% for note in notifications %}<li>{{ note }}</li>{% endfor %}
  </ul>
  {% else %}
  <p>This will be a KML file containing a single polygon geometry
    enclosing an area somewhere within New Zealand.</p>
  {% endif %}

  <table>
    {{ boundaryFileForm }}
    </table
  
  {{ uploadFile.as_p }}

    <input type='submit' name='command' value='upload' />
  
</div>
<!-- end home/user.html -->
{% endblock %}



