<!-- nzaa/panel/archaeological.html -->
<h3>Archaeolgical data</h3>
<table>

    <tr>
        <th>identifiers</th>
        <td>{{ site.nzaa_id }}</td>
        <td>{% if site.nzms_id %}{{ site.nzms_id }}{% endif %}</td>
    </tr>
    <tr>
        <th>coords</th>
        <td colspan='2'>NZTM {{ site.nztm_coords }}</td>
    </tr>    
    <tr>
        <td></td>
        <td colspan='2'>{% if site.nzmg_gridref %}{{ site.nzmg_coords }}
        {% else %}NZMG {{ site.nzmg_coords }}{% endif %}</td>

    </tr>
    <tr>

        <td colspan='3' style='border-top: solid 1px black;'></td>

    </tr>
    <tr>

        <th></th>

        <th>Adjusted values</th>

        <th>Archsite values</th>

    </tr>

    <tr>

        <th>Site type</th>

        <td>{{ site.site_type }}{% if site.site_subtype %}
        <br />{{ site.site_subtype }}{% endif %}</td>

        <td>{{ site.lgcy_type }} </td>

    </tr>
    <tr>

        <th>Ethnicity</th>

        <td>{{ site.ethnicity }}</td>

        <td>{{ site.lgcy_ethnicity }}</td>

    </tr>
    <tr>

        <th>Period</th>

        <td>{{ site.period }}</td>

        <td>{{ site.lgcy_period }}</td>

    </tr>
    <tr>

        <th>Features</th>

        <td>{{ site.features }}</td>

        <td>{{ site.lgcy_features }}</td>

    </tr>

    <tr>

        <th>Associated sites</th>

        <td>{{ site.associated_sites }}</td>

        <td>{{ site.lgcy_assocsites }}</td>

    </tr>
    <tr>

        <th>Threats</th>

        <td>{{ site.threats }}</td>

        <td>{{ site.lgcy_threats }}</td>

    </tr>
    <tr>

        <th>Inspected</th>

        <td></td>

        <td>{{ site.lgcy_inspected }}</td>

    </tr>
    <tr>
      <th colspan='3'
          style='border-top: solid 1px black;padding-top: 0.5em;'>
        Recording history</th>
    </tr>

    <tr>
        <th>Recorded</th>
        <td colspan='2'>{{ site.display_recorded }}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td colspan='2'>{{ site.display_updated }}</td>
    </tr>
    <tr>
        <th>Visited</th>
        <td>{{ site.display_visited }}</td>
        <td>{% if site.lgcy_inspected %}
          {{ site.lgcy_inspected }}{% endif %}</td>

    </tr>
    {% if site.reviews.all %}<tr>

        <th>Reviewed</th>

        <td colspan='2'>{{ site.reviews.all.0.reviewed|date:"Y-m-d H:i:s" }}
        by {{ site.reviews.all.0.assessed_by }}</td>

    </tr>
    <tr>
        <th>Quality</th>
        <td>{{ site.reviews.all.0.record_quality }}</td>
    </tr>
    {% else %}<tr>
        <td colspan='2'><a href='{{ site.url }}/review'>
        Review this record</a></td>

    </tr>
    {% endif %}

    <tr>
      <th colspan='3' style='border-top: solid 1px black; padding-top:0.5em'>
      Record metadata</th>
    </tr>
    <tr>
        <th>Created</th>
        <td colspan='2'>{{ site.created|date:"Y-m-d" }}</td>
    </tr>

    <tr>
        <th>Last checked</th>
        <td colspan='2'>{{ site.extracted|date:"Y-m-d H:i:s" }}</td>
    </tr>

    <tr>
      <th><a href='/manuals/nzaa/last_known_change'>
      last known change</a></th>
        <td colspan='2'>{{ site.last_change|date:"Y-m-d H:i:s" }}</td>
    </tr>

    <tr>
        <td colspan='3' style='border-top: solid 1px black;'></td>
    </tr>
</table>
<!-- end nzaa/panel/archaeological.html -->

