<!-- nzaa/panel/doc_form.html -->
<div class='docform'>

  <div class='figure-left'>
    <a href='{{ document.url }}'>
    <img src='{{ document.src }}' alt='{{ document.alt }}' />
    <p class='caption'>{{ document.filename }}</p></a>
    
  </div>

  <table>
    <tr>
      <th>update</th>
      <td>{{ document.update }}</td>
    </tr>
    <tr>
      <th>filename</th>
      <td><a href='{{ document.url }}'>{{ document.filename }}</a></td>
    </tr>
    <tr>
      <th>doctype</th>
      <td>{{ document.doctype }}</td>
    </tr>
    <tr>
      <th>date</th>
      <td>{{ document.date }}</td>
    </tr>
    <tr>
      <th>author</th>
      <td>{{ document.author }}</td>
    </tr>
    <tr>
      <th>quality</th>
      <td>{{ document.quality }}</td>
    </tr>
    <tr>
      <th>fileformat</th>
      <td>{{ document.fileformat }}</td>
    </tr>
    <tr>
      <th>description</th>
      <td>{{ document.description }}</td>
    </tr>

  </table>



  




</div>
<!-- end nzaa/panel/doc_form.html -->

