<!-- nzaa/panel/docdata.html -->
<h3>Document record fields</h3>

<table width='100%' >
  <tr>
    <th>update</th>
    <td><a href='{{ document.update.site.url }}'>{{ document.update }}</a></td>
  </tr>
  <tr>
    <th>filename</th>
    <td>{{ document.filename }}</td>
  </tr>
  <tr>
    <th>doctype</th>
    <td>{{ document.doctype }}</td>
  </tr>
  <tr>
    <th>author</th>
    <td>{{ document.author }}</td>
  </tr>
  <tr>
    <th>date</th>
    <td>{{ document.date }}</td>
  </tr>
  <tr>
    <th>description</th>
    <td>{{ document.description }}</td>
  </tr>
  <tr>
    <th>fileformat</th>
    <td>{{ document.fileformat }}</td>
  </tr>
  <tr>
    <th>downloaded</th>
    <td>{{ document.downloaded }}</td>
  </tr>
  <tr>
    <th>original file</th>
    <td>{{ document.originalfile }}</td>
  </tr>
  <tr>
    <td colspan='2' style='border-top: solid 1px black;'></td>
  </tr>
</table>
<!-- end nzaa/panel/docdata.html -->
