<!-- nzaa/panel/docreview.html -->
<div id='docReview'>
  <h3>(Please) capture fields for this document</h3>
  
  <form method='POST' action=''>
    {% csrf_token %}
<table>
  {{ documentForm }}


  <tr>
    <th><label for='id_update'>Update</label></th>
    <td>
      <select name='update' id='id_update'>
        {% for item in valid_updates %}
        <option value='{{ item }}'{% if item == document.update %} selected{% endif %}>{{ item }}</option>{% endfor %}
      </select>
    </td>
  </tr>
  

  <tr>
    <th></th>
    <td style='text-align: right;'>
      <input type='submit' name='command' value='save' /></td>
  </tr>
  <tr>
    <td colspan='2' style='border-top: solid 1px black;'></td>
  </tr>
  
</table>
</div>
<!-- close nzaa/panel/docreview.html -->
