{% load humanize %}
<!-- nzaa/panel/sitelist.html -->

<h3>Site records in this list ({{ sites.count|intcomma }})</h3>

 <div class='longtable'>
    <table style='font-size: 80%; width: 100%;' class='sortable'>

        <tr>
            <th>nzaa id</th>
            <th>title</th>
            <th>site type</th>
            <th>ethnicity</th>
            <th>period</th>
            <th>features</th>
        </tr>

	{% for site in sites %}
        <tr>
            <td><a href='{{ site.url }}'>{{ site.nzaa_id }}</a></td>
            <td>{{ site.title }}</td>
            <td>{{ site.lgcy_type }}</td>
            <td>{{ site.lgcy_ethnicity }}</td>
            <td style='max-width: 6em;'>{{ site.lgcy_period }}</td>
            <td>{{ site.features }}</td>
        </tr>{% endfor %}

    </table>
</div>
<!-- end nzaa/panel/sitelist.html -->
 
