{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
<!-- geolib/orthophoto/TileNotFound.html -->
<div id='headline'
     style="background-image: url('/static/img/geolib/OrthoBanner.png')">

  <h1>
    {{ h1 }}</h1>

  <p>{{ subhead }}</p>

</div>

<div class='block-page'><!-- Open the page -->

    <h2>Orthophoto tile not found</h2>


    <p>We're sorry, there is no record of tile {{ command }} in our files.</p>

  

</div>



<!-- geolib/orthophoto/TileNotFound.html -->
{% endblock %}














