



.manlisting {
    
    font-size: 90%;
    font-family: sans-serif;
    margin-bottom: 1em;
}
.manlisting h2 {
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.manlisting p {
    font-weight: normal;
    padding: 0;
    margin: 0;
}
