{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
<!-- templates/biblio/paper.html -->
<div id='headline'
     style="background-image: url('/static/img/biblio/banner.jpg')">

    <h1><i>{{ paper.issue.publication.title|safe }}</i></h1>
  


    <p>{{ paper.issue.cite }}</p>

</div>

<div class='two-col'><!-- open the left column -->
  
    <h2>{{ paper.title }}</h2>

    <p>by {{ paper.authors|safe }}</p>

    <p><a href='{{ paper.issue.url }}'>{{ paper.issue|safe }}</a></p>

    <p class='note'>Keywords: {{ paper.subject|upper }}</p>

    <h3>Full citation</h3>
    
    <p>{{ paper.cite_full|safe }}</p>

</div>

<div class='two-col'><!-- open the left column -->
  
    {% if paper.description %}
    <h3>Abstract</h3>

    <p class='abstract'>{{ paper.description }}</p>
    {% endif %}

    <p>Request a copy of this document from {{ paper.sourceorg }}.</p>

    <p style='font-family: sans-serif;'>
    Identifier: {{ paper.source_identifier }}</p>

    <div class='block-note'>

        <h2>Links to copies of this document</h2>
      
{% if librarian %}
        {% if paper.local_url %}
        <p><a href='{{ paper.local_url }}'>Link to local pdf copy</a>.</p>

        {% else %}
        <p>No local copy available.</p>
        {% endif %}

{% endif %}

        {% if paper.source %}<p>This item may be available from<br />
        <a href='{{ paper.source }}'>{{ paper.source }}</a>

        {% else %}
        <p>No offsite source for this item is known.</p>
        {% endif %}

    </div>
    
</div>

<!-- end templates/biblio/paper.html -->
{% endblock %}
