{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- member.html -->
<div class='block-page'>
<h1>{{ h1 }}</h1>
{% if memberForm %}
  <table style=
           "border: 1px black solid; 
            font-size: 90%; 
            padding: 0.5em;
            float: right;"
           >
      <tr>
        <th>Username</th>
        <td style='text-align: right;'>{{ user.username }}</td>
      </tr>
      <tr>
        <th>Member number</th>
        <td style='text-align: right;'>{{ user.member.number }}</td>
      </tr>
      <tr>
        <th>Initials</th>
        <td style='text-align: right;'>{{ user.member.initial }}</td>
      </tr>
      <tr>
        <th>Nickname</th>
        <td style='text-align: right;'>{{ user.member.nickname }}</td>
      </tr>
      <tr>
        <th>Member since</th>
        <td style='text-align: right;'>
          {{ user.member.created|date:"Y-m-d" }}</td>
      </tr>

    </table>
{% endif %}
    <p>This is your user index. Here, you will find easy access to
    your sitelists, site update records and other matters.</p> 
    

  {% if lists %}<div class='indextile'>

    <h2>You own the following site lists ({{ lists.count }})</h2>
    
    <table class='sortable'>
        <tr>
            <th>name</th>
            <th>description</th>
	    <th>sites</th>
        </tr>
 

    {% for list in lists %}
        <tr>
            <td><a href='{{ list.url }}'>{{ list.name }}</a></td>
            <td>{{ list.description }}</td>
	    <td style='text-align: right;'>{{ list.sites.count }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>{% endif %}

    {% if boundaries %}<div class='indextile'>

    <h2>Your boundary reports ({{ boundaries.count }})</h2>

    <table class='sortable'>
        <tr>
            <th>title</th>
            <th>file</th>
            <th>client</th>
            <th>description</th>
            <th>sites</th>
        </tr>
        {% for boundary in boundaries %}<tr>
            <td><a href='{{ boundary.url }}'>{{ boundary.title }}</a></td>
            <td>{{ boundary.fname }}</td>
            <td>{{ boundary.client }}</td>
            <td>{{ boundary.description }}</td>
            <td>{{ boundary.sites_identified.count }}</td>
        </tr>{% endfor %}
    </table>
    </div>
    {% endif %}

  {% if updates %}<div class='indextile'>

    <h2>Your active site record updates ({{ updates.count|intcomma }})</h2>

    <table class='sortable'>
        <tr>
            <th>id</th>
            <th>status</th>
            <th>site</th>
        </tr>
        {% for update in updates %}<tr>
            <td><a href='{{ update.url }}'>{{ update.update_id }}</a></td>
            <td>{{ update.opstatus }}</td>
            <td>{{ update.site.title }}</td>
        </tr>{% endfor %}
    </table>
  </div>{% endif %}

    {% if newsites %}<div class='indextile'>

      <h2>Your new site records ({{ newsites.count }})</h2>

    <table class='sortable'>
        <tr>
            <th>id</th>
            <th>field id</th>
            <th>status</th>
            <th>site type</th>
        </tr>
        {% for site in newsites %}<tr>
            <td><a href='{{ site.url }}'>{{ site.newsite_id }}</a></td>
            <td>{{ site.field_id }}</td>
            <td>{{ site.status }}</td>
            <td>{{ site.site_type }}</td>
        </tr>{% endfor %}
    </table>

    </div>{% endif %}

{% if memberForm %}  
    <h2>Change your member information</h2>

    <form target='' method='POST' >{% csrf_token %}
    <table class='form'>      
{{ memberForm }}
      <tr>
	<td colspan='2'
	    style='text-align: right;'>
	  <input type='submit' name='command' value='update' /></td>
      </tr>
     </table>
    </form>

    <p>Your nickname and initials can be used to identify
    you on parts of the website that others might see.</p>

    <p>Your name, email address and phone number are
    for our records, so we can identify and communicate with you, and
    are not released to any other person or organisation.</p>
{% endif %}

    
  

</div>
<!-- end member.html -->
{% endblock %}



