{% extends 'framework.html' %}{% block main %}{% load staticfiles %}

<h3>This is a test card</h3>

<h1>{{ h1 }}</h1>

<p>There isn't anything else here, right now. Except for this list of
commands:</p>

<ol>

  <li><a href='/blog/'>blog</a></li>
  <li><a href='/field/'>field</a></li>
  <li><a href='/geolib/'>geolib</a></li>
  <li><a href='/library/'>library</li>
  <li><a href='/login/'>login</a></li>
  <li><a href='/logoff/'>logoff</a></li>
  <li><a href='/nzaa/'>nzaa</a></li>
  <li><a href='/registerformembership/'>register</a></li>
  <li><a href='/user/'>user</a></li>

</ol>


{% endblock %}
