{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- member/boundaries.html -->
<div class='block-whole'>
<h1>{{ h1 }}</h1>

  {% if records %}
  <h3>In database</h3>

  <table class='sortable' style='font-size: 80%;'>
    <tr>
      <th>title</th>
      <th>date</th>
      <th>client</th>
      <th>filename</th>
      <th>description</th>
      <th style='text-align:right;'>sites</th>
    </tr>
    {% for record in records %}<tr>
      <td><a href='{{ record.url }}'>{{ record.title }}</a></td>
      <td>{{ record.created|date:"Y-m-d" }}</td>
      <td>{{ record.client }}</td>
      <td>{{ record.fname }}</td>
      <td>{{ record.description }}</td>
      <td style='text-align:right;'>{{ record.sites_identified.count }}</td>
    </tr>{% endfor %}

  </table>{% endif %}

  
</div>
<!-- end member/boundaries.html -->
{% endblock %}



