{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- nzaa/SiteNotAuth.html -->



<div class='block-page'>

  <h1>{{ h1 }}</h1>



  <p>This archaeological site record can be examined on application to
    the New&nbsp;Zealand Archaeological Association.</p>

  <table>
    <tr>
      <th>web</th>
      <td><a href='https://nzarchaeology.org/'>https://nzarchaeology.org/</a></td>
    </tr>
    <tr>
      <th>contact form</th>
      <td><a href='https://nzarchaeology.org/contact'>https://nzarchaeology.org/contact</a></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th>Post</th>
      <td>PO Box 6337<br />
          Dunedin 9059<br />
          New Zealand</td>
    </tr>
  </table>  
</dev>
<!-- end nzaa/SiteNotAuth.html -->
{% endblock %}
