{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- nzaa/SiteNormalise.html -->

<div class='site-left'>
<p class='note'>{{ subhead }}</p>

<h3>Normalise this site record</h3>

<h1><a href='{{ site.url }}'>{{ h1 }}</a></h1>
{% if site %}

<form action='/nzaa/normalise/{{ site.nzaa_id }}/'
      method='POST'>
{% csrf_token %} 

{% if site.updates %}
<h2>Summary of existing updates</h2>

<table style='font-size: 90%;'>
  {% for update in site.updates %}
  <tr>
    <th colspan='4' style='padding-top: 1em; font-size: 100%; '>
    {{ update }} | {{ update.updated|date:'Y-m-d' }} {{ update.updated_by }} |
    {{ update.update_type }}</th>
  </tr>
    {% for document in update.documents %}
    <tr>
      <td><a href='{{ document.url }}'>{{ document.filename }}</a></td>
      <td>{{ document.date|date:'Y-m-d' }}</td>
      <td>{{ document.doctype }}</td>
      <td>{{ document.author }}</td>
    </tr>   
    {% endfor %}
  {% endfor %}
</table>
{% endif %}

{% if suggested_updates %}
<h2>Analysis of fields ({{ suggested_updates|length }} potential updates)</h2>

{% for update in suggested_updates %}
<div class='suggestedUpdate' id=''
     style='border-bottom: 1px black solid;'>

<table>
  <tr>
    <td><!-- left side -->
  <table>
    <tr>
      <td><input type='checkbox' value='select' checked 
                 name='{{ update.index }}-select' />
        <th>{{ update.date }} {{ update.actor }}<th>
    </tr>
    <tr>
      <th>date</th>
      <td><input type='text' name='{{ update.index }}-date'
                 value='{{ update.date }}'></td>
    </tr>
    <tr>
      <th>actor</th>
      <td><input type='text' name='{{ update.index }}-actor'
                 value='{{ update.actor }}'></td>
    </tr>
    <tr>
      <th>visited</th>
      <td><input type='text' name='{{ update.index }}-visited'
                 value='{{ update.visited }}'></td>
    </tr>
    <tr>
      <th>by</th>
      <td><input type='text' name='{{ update.index }}-visited_by'
                 value='{{ update.visied_by }}'></td>
    </tr>
  </table>
    </td><!-- close the left side -->
    <td><!-- right side -->

  <table>
    <tr>
      <td>Description<br />
        <textarea cols='72'
                  name='{{ update.index }}-description'>{{ update.description }}</textarea>
      </td>
    </tr>
    <tr>
      <td>Condition<br />
        <textarea cols='72'
                  name='{{ update.index }}-condition'>{{ update.condition }}</textarea>
      </td>
    </tr>
  </table>
      
    </td><!-- close the right side -->
  </tr>
</table>

</div>{% endfor %}
{% endif %}


<div style='font-size: 80%;'>
{{ site.update0.long_fields|safe }}
</div>

{% if site.update0.documents %}
<h2>Uregistered documents for this site</h2>

<p>Unregistered documents are associated with update 0. They have not
  yet been allocated to an update record.</p>


<table style='font-size: 90%;'>
  <tr>
    <th colspan='4' style='padding-top: 1em; font-size: 100%; '>
    Summary </th>
  </tr>
    {% for document in site.update0.documents %}
    <tr>
      <td><a href='{{ document.url }}'>{{ document.filename }}</a></td>
      <td>{{ document.date|date:'Y-m-d' }}</td>
      <td>{{ document.doctype }}</td>
      <td>{{ document.author }}</td>
    </tr>   
    {% endfor %}
</table>

<br /><br /><br /><br /><br />


{% for document in site.update0.documents %}
{% include 'nzaa/panel/doc_form.html' %}
{% endfor %}

{% else %}
<h3>There are no unregistered documents</h3>
{% endif %}

<br style='clear: both;'/><br /><br /><br />
{% include 'nzaa/update0.html' %}

<!-- closing the site code -->
</div><!-- close the left column -->

<div class='site-right'>
  <div class='data'>    
    {% include 'nzaa/panel/existing_updates.html' %}
    {% include 'nzaa/panel/recordinghistory.html' %}
    {% include 'nzaa/panel/documents.html' %}
    {% include 'nzaa/panel/filedata.html' %}
    {% if suggested_updates %}
    {% include 'nzaa/panel/update_suggestions.html' %}{% endif %}
  </div>

  {% if site.review.all.count %}
  <p class='note'>Reviews of this site record:<br />
  {% for item in site.review.all %}
  {{ item.reviewed }} by {{ item.assessed_by }}<br />
  {% endfor %}</p>{% endif %}
</div><!-- close the right column -->

{% else %} <!-- no site record -->

  
<div class='block-whole'>

  <p>There is no site record called {{ site_id }} in our system.<p>

  <p>You can try the ArchSite record at <br />
    <a href='{{ archsite }}'>{{ archsite }}</a>.<p>
</div>

{% endif %} <!-- close the original 'if site' -->

{% if review %}
{% include 'nzaa/panel/siteReview.html' %}
{% endif %}

<div id='docReview'>

  <h2>Additional updates to create</h2>

  <p>Number of updates in the documents</p>


  <input type='number' name='no_updates' />
  <input type='submit' name='command' value='{{ command }}' />
  
</div>


</form>
<!-- end nzaa/SiteNormalise.html -->
{% endblock %}
