{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- nzaa/Site.html -->

<div class='site-left'>
<p class='note'>{{ subhead }}</p>

<h3>Normalise this site record</h3>

<h1>{{ h1 }}</h1>
{% if site %}

<h2>Updates suggested by analysis</h2>

{% for update in suggested_updates %}

<h3>Update </h3>
{{ update|safe }}
<hr />
{% endfor %}

{% include 'nzaa/update0.html' %}


<!-- closing the site code -->
</div><!-- close the left column -->

<div class='site-right'>
  <div class='data'>    
    {% include 'nzaa/panel/recordinghistory.html' %}
    {% include 'nzaa/panel/documents.html' %}
    {% include 'nzaa/panel/update_suggestions.html' %}
  </div>

  {% if site.review.all.count %}
  <p class='note'>Reviews of this site record:<br />
  {% for item in site.review.all %}
  {{ item.reviewed }} by {{ item.assessed_by }}<br />
  {% endfor %}</p>{% endif %}
</div><!-- close the right column -->

{% else %} <!-- no site record -->

  
<div class='block-whole'>

  <p>There is no site record called {{ site_id }} in our system.<p>

  <p>You can try the ArchSite record at <br />
    <a href='{{ archsite }}'>{{ archsite }}</a>.<p>
</div>

{% endif %} <!-- close the original 'if site' -->

{% if review %}
{% include 'nzaa/panel/siteReview.html' %}
{% endif %}

<!-- end nzaa.html -->
{% endblock %}
