{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
{% load humanize %}
<!-- nzaa/Site.html -->

<div class='site-left'>
<p class='note'>{{ subhead }}</p>

<h3>Normalise this site record</h3>

<h1>{{ h1 }}</h1>
{% if site %}




{% if suggested_updates %}
<h2>Updates suggested by analysis</h2>

{% for update in suggested_updates %}

<h3>Update </h3>
{{ update|safe }}
<hr />
{% endfor %}
{% endif %}

{% if site.updates_count %}
<h2>In here we put the summary of existing updates</h2>

<table>
  <tr>
    <th>id</th>
    <th></th>
  </tr>
  {% for update in site.updates %}<tr>
    <td>{{ update.update_id }}</td>
    <td>{{ update.updated_by }}</td>
  </tr>{% endfor %}

</table>
{% endif %}


<h2>In here we list the registered documents for this site</h2>

<p>This is the list by formset
<table>
{% for form in documents %}
{{ form }}
{% endfor %}
</table>
<p>These ones are the list by Document object.</p>



{% for document in site.update0.document_set.all %}<tr>
{% include 'nzaa/panel/doc_form.html' %}
{% endfor %}

<hr style='width: 100%; clear: both;' />

{% include 'nzaa/update0.html' %}

<!-- closing the site code -->
</div><!-- close the left column -->

<div class='site-right'>
  <div class='data'>    
    {% include 'nzaa/panel/existing_updates.html' %}
    {% include 'nzaa/panel/recordinghistory.html' %}
    {% include 'nzaa/panel/documents.html' %}
    {% if suggested_updates %}
    {% include 'nzaa/panel/update_suggestions.html' %}{% endif %}
  </div>

  {% if site.review.all.count %}
  <p class='note'>Reviews of this site record:<br />
  {% for item in site.review.all %}
  {{ item.reviewed }} by {{ item.assessed_by }}<br />
  {% endfor %}</p>{% endif %}
</div><!-- close the right column -->

{% else %} <!-- no site record -->

  
<div class='block-whole'>

  <p>There is no site record called {{ site_id }} in our system.<p>

  <p>You can try the ArchSite record at <br />
    <a href='{{ archsite }}'>{{ archsite }}</a>.<p>
</div>

{% endif %} <!-- close the original 'if site' -->

{% if review %}
{% include 'nzaa/panel/siteReview.html' %}
{% endif %}

<!-- end nzaa.html -->
{% endblock %}
