<!-- nzaa/update0.html -->
<h2><a href='{{ site.update0.url }}'>{{ site.update0.update_name|safe }}</a></h2>


<p class='note'>Update 0 is a copy of the ArchSite record, <br />
  {{ site.extracted|date:"Y-m-d H:i:s" }} last checked against ArchSite<br />
  {{ site.update0.wordcount }}{% if site.update0.wordcount == 1 %} word 
  {% else %} words {% endif %}
  and
  {{ site.update0.pagecount }}{% if site.update0.pagecount == 1 %} page.
  {% else %} pages.{% endif %}<br />
</p>

{{ site.update0.long_fields|safe }}



{% for fig in site.update0.unref_figs %}<div class='figure'>

    <img src='{{ fig.0 }}' alt='{{ fig.1 }}' />
    <p class='caption'>{{ fig.1 }}</p>
  
</div>{% endfor %}

<!-- end nzaa/update0.html -->
