<!-- nzaa/update.html -->
<h2><a href='{{ update.url }}'>{{ update.update_name|safe }}</a>
  {% if update.updated %}({{ update.updated|date:"M Y" }}){% endif %}
  {% if update.opstatus %} 
  <span class='alert'>(Status:
    {{ update.opstatus }})</span>{% endif %}</h2>

{{ update.long_fields|safe }}

{% for document in update.documents %}
<div class='document'>

  <div class='figure'>

    <a href='{{ document.url }}' />
    <img src='{{ document.src }}' alt='{{ document.alt }}' />

    <p class='caption'>{{ document.caption }}</p></a>

  </div>

</div>{% endfor %}

<hr />

{% include 'nzaa/panel/updateUnrefFigs.html' %}
<!-- end nzaa/update.html -->
