<!-- nzaa/update.html -->
<h2><a href='{{ update.url }}'>{{ update.update_name|safe }}</a>
  {% if update.updated %}({{ update.updated|date:"M Y" }}){% endif %}
  {% if update.opstatus %} 
  <span class='alert'>(Status:
    {{ update.opstatus }})</span>{% endif %}</h2>

{% if update.ordinal == 0 %}
<p class='note'>Update 0 is a copy of the ArchSite record, <br />
  {{ site.extracted|date:"Y-m-d H:i:s" }} last checked against ArchSite<br />
</p>
{% endif %}
{{ update.long_fields|safe }}

<hr />

{% include 'nzaa/panel/updateUnrefFigs.html' %}
<!-- end nzaa/update.html -->
